### Capstone Project - The Battle of the Neighborhoods (Week 2)

## Business Problem <a name="introduction"></a>

In this project we will try to find an optimal location for a restaurant. Specifically, this report will be targeted to stakeholders interested in opening an **Fast Food Restaurant** mainly **Pizza Place** near Chicago Public Schools, USA.
Here,I used Chicago Public Schools Progress Report Cards 2011-2012 as a dataset for this project. Used Foursquare API to find latitude and longitude for chicago city center.

In [77]:
#importing libraries
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

# module to convert an address into latitude and longitude values
from geopy.geocoders import Nominatim

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

# plotting library
import folium

In [92]:
#Getting the final dataset by filtering the columns from the original dataset
df=pd.read_csv('Chicago Public School Progress Report Cards 2011-2012.txt')
df['Address'] = df[df.columns[2:6]].apply(
    lambda x: ','.join(x.dropna().astype(str)),
    axis=1)
finaldf=df.append(df['Address'])
finaldf=finaldf[['NAME_OF_SCHOOL','Address','ZIP Code','Latitude','Longitude','COMMUNITY_AREA_NAME']]
finaldf=finaldf.rename(columns={'NAME_OF_SCHOOL':'Name_Of_School','COMMUNITY_AREA_NAME':'Neighborhood'})
finaldf=finaldf.iloc[0:100,:]
finaldf

,Name_Of_School,Address,ZIP Code,Latitude,Longitude,Neighborhood
0,Abraham Lincoln Elementary School,"ES,615 W Kemper Pl ,Chicago,IL",60614.0,41.924497,-87.644522,LINCOLN PARK
1,Adam Clayton Powell Paideia Community Academy ...,"ES,7511 S South Shore Dr ,Chicago,IL",60649.0,41.760324,-87.556736,SOUTH SHORE
2,Adlai E Stevenson Elementary School,"ES,8010 S Kostner Ave ,Chicago,IL",60652.0,41.747111,-87.731702,ASHBURN
3,Agustin Lara Elementary Academy,"ES,4619 S Wolcott Ave ,Chicago,IL",60609.0,41.809757,-87.672145,NEW CITY
4,Air Force Academy High School,"HS,3630 S Wells St ,Chicago,IL",60609.0,41.828146,-87.632794,ARMOUR SQUARE
5,Albany Park Multicultural Academy,"MS,4929 N Sawyer Ave ,Chicago,IL",60625.0,41.971143,-87.709627,ALBANY PARK
6,Albert G Lane Technical High School,"HS,2501 W Addison St ,Chicago,IL",60618.0,41.946617,-87.691056,NORTH CENTER
7,Albert R Sabin Elementary Magnet School,"ES,2216 W Hirsch St ,Chicago,IL",60622.0,41.906843,-87.683043,WEST TOWN
8,Alcott High School for the Humanities,"HS,2957 N Hoyne Ave ,Chicago,IL",60618.0,41.935761,-87.680524,NORTH CENTER
9,Alessandro Volta Elementary School,"ES,4950 N Avers Ave ,Chicago,IL",60625.0,41.971606,-87.724641,ALBANY PARK
10,Alexander Graham Bell Elementary School,"ES,3730 N Oakley Ave ,Chicago,IL",60618.0,41.949528,-87.686055,NORTH CENTER
11,Alexander Graham Elementary School,"ES,4436 S Union Ave ,Chicago,IL",60609.0,41.813292,-87.643381,NEW CITY
12,Alexander Hamilton Elementary School,"ES,1650 W Cornelia Ave ,Chicago,IL",60657.0,41.945247,-87.670857,LAKE VIEW
13,Alexander von Humboldt Elementary School,"ES,2620 W Hirsch St ,Chicago,IL",60622.0,41.906722,-87.693003,WEST TOWN
14,Alex Haley Elementary Academy,"ES,11411 S Eggleston Ave ,Chicago,IL",60628.0,41.686637,-87.633595,ROSELAND
15,Alfred David Kohn Elementary School,"ES,10414 S State St ,Chicago,IL",60628.0,41.704851,-87.623602,ROSELAND
16,Alfred Nobel Elementary School,"ES,4127 W Hirsch St ,Chicago,IL",60651.0,41.906128,-87.729933,HUMBOLDT PARK
17,Alice L Barnard Computer Math & Science Center...,"ES,10354 S Charles St ,Chicago,IL",60643.0,41.705140,-87.658116,BEVERLY
18,Al Raby High School,"HS,3545 W Fulton Blvd ,Chicago,IL",60624.0,41.886183,-87.715397,EAST GARFIELD PARK
19,Ambrose Plamondon Elementary School,"ES,2642 W 15th Pl ,Chicago,IL",60608.0,41.860287,-87.692505,NORTH LAWNDALE
20,Amelia Earhart Options for Knowledge Elementar...,"ES,1710 E 93rd St ,Chicago,IL",60617.0,41.726135,-87.582177,CALUMET HEIGHTS
21,Ames Middle School,"MS,1920 N Hamlin Ave ,Chicago,IL",60647.0,41.916055,-87.721779,LOGAN SQUARE
22,Amos Alonzo Stagg Elementary School,"ES,7424 S Morgan St ,Chicago,IL",60621.0,41.758927,-87.649253,ENGLEWOOD
23,Ana Roque de Duprey Elementary School,"ES,2620 W Hirsch St ,Chicago,IL",60622.0,41.906722,-87.693003,WEST TOWN
24,Andrew Carnegie Elementary School,"ES,1414 E 61st Pl ,Chicago,IL",60637.0,41.783396,-87.590796,WOODLAWN
25,Andrew Jackson Elementary Language Academy,"ES,1340 W Harrison St ,Chicago,IL",60607.0,41.874327,-87.660976,NEAR WEST SIDE
26,Anna R. Langford Community Academy,"ES,6010 S Throop St ,Chicago,IL",60636.0,41.784657,-87.657205,WEST ENGLEWOOD
27,Annie Keller Elementary Gifted Magnet School,"ES,3020 W 108th St ,Chicago,IL",60655.0,41.697198,-87.697264,MOUNT GREENWOOD
28,A.N. Pritzker School,"ES,2009 W Schiller St ,Chicago,IL",60622.0,41.907025,-87.677796,WEST TOWN
29,Anthony Overton Elementary School,"ES,221 E 49th St ,Chicago,IL",60615.0,41.805576,-87.620123,GRAND BOULEVARD
...,...,...,...,...,...,...
70,Charles H Wacker Elementary School,"ES,9746 S Morgan St ,Chicago,IL",60643.0,41.716215,-87.648081,WASHINGTON HEIGHTS
71,Charles Kozminski Elementary Community Academy,"ES,936 E 54th St ,Chicago,IL",60615.0,41.798029,-87.602463,HYDE PARK
72,Charles N Holden Elementary School,"ES,1104 W 31st St ,Chicago,IL",60608.0,41.838055,-87.653800,BRIDGEPORT
73,Charles P Caldwell Academy of Math & Science E...,"ES,8546 S Cregier ,Chicago,IL",60617.0,41.739227,-87.580766,AVALON PARK
74,Charles P Steinmetz Academic Centre High School,"HS,3030 N Mobile Ave ,Chicago,IL",60634.0,41.935632,-87.783552,BELMONT CRAGIN
75,Charles R Darwin Elementary School,"ES,3116 W Belden Ave ,Chicago,IL",60647.0,41.923350,-87.705431,LOGAN SQUARE
76,Charles R Henderson Elementary School,"ES,5650 S Wolcott Ave ,Chicago,IL",60636.0,41.790617,-87.671925,WEST ENGLEWOOD
77,Charles S Brownell Elementary School,"ES,6741 S Michigan Ave ,Chicago,IL",60637.0,41.771635,-87.621710,GREATER GRAND CROSSING
78,Charles S Deneen Elementary School,"ES,7240 S Wabash Ave ,Chicago,IL",60619.0,41.762504,-87.623382,GREATER GRAND CROSSING
79,Charles Sumner Math & Science Community Acad ...,"ES,4320 W 5th Ave ,Chicago,IL",60624.0,41.870849,-87.733554,WEST GARFIELD PARK
80,Charles W Earle Elementary School,"ES,6121 S Hermitage Ave ,Chicago,IL",60636.0,41.782302,-87.667777,WEST ENGLEWOOD
81,Chicago Academy Elementary School,"ES,3400 N Austin Ave ,Chicago,IL",60634.0,41.942154,-87.776506,DUNNING
82,Chicago Academy High School,"HS,3400 N Austin Ave ,Chicago,IL",60634.0,41.942154,-87.776506,DUNNING
83,Chicago High School for Agricultural Sciences,"HS,3857 W 111th St ,Chicago,IL",60655.0,41.691194,-87.717739,MOUNT GREENWOOD
84,Chicago Military Academy High School,"HS,3519 S Giles Ave ,Chicago,IL",60653.0,41.830538,-87.619178,DOUGLAS
85,Chicago Vocational Career Academy High School,"HS,2100 E 87th St ,Chicago,IL",60617.0,41.737202,-87.573244,AVALON PARK
86,Christian Ebinger Elementary School,"ES,7350 W Pratt Ave ,Chicago,IL",60631.0,42.004436,-87.811164,EDISON PARK
87,Christian Fenger Academy High School,"HS,11220 S Wallace St ,Chicago,IL",60628.0,41.689939,-87.637608,ROSELAND
88,Christopher Columbus Elementary School,"ES,1003 N Leavitt St ,Chicago,IL",60622.0,41.899581,-87.681902,WEST TOWN
89,Clara Barton Elementary School,"ES,7650 S Wolcott Ave ,Chicago,IL",60620.0,41.754220,-87.670965,AUBURN GRESHAM
90,Claremont Academy Elementary School,"ES,2300 W 64th St ,Chicago,IL",60636.0,41.777538,-87.681086,CHICAGO LAWN
91,Collins Academy High School,"HS,1313 S Sacramento Dr ,Chicago,IL",60623.0,41.864162,-87.702008,NORTH LAWNDALE
92,Columbia Explorers Elementary Academy,"ES,4520 S Kedzie Ave ,Chicago,IL",60632.0,41.811057,-87.704235,BRIGHTON PARK
93,Countee Cullen Elementary School,"ES,10650 S Eberhart Ave ,Chicago,IL",60628.0,41.700361,-87.611282,ROSELAND
94,Crispus Attucks Elementary School,"ES,5055 S State St ,Chicago,IL",60609.0,41.802143,-87.625747,GRAND BOULEVARD
95,Crown Community Academy of Fine Arts Center El...,"ES,2128 S Saint Louis Ave ,Chicago,IL",60623.0,41.852662,-87.712507,NORTH LAWNDALE
96,Cyrus H McCormick Elementary School,"ES,2712 S Sawyer Ave ,Chicago,IL",60623.0,41.842245,-87.706336,SOUTH LAWNDALE
97,Daniel Boone Elementary School,"ES,6710 N Washtenaw Ave ,Chicago,IL",60645.0,42.003435,-87.697500,WEST RIDGE
98,Daniel C Beard Elementary School,"ES,6445 W Strong St ,Chicago,IL",60656.0,41.970097,-87.789637,NORWOOD PARK
99,Daniel Hale Williams Prep School of Medicine,"HS,4934 S Wabash Ave ,Chicago,IL",60615.0,41.804564,-87.624484,GRAND BOULEVARD

In [93]:
#Choosing a particular Zip Code
finaldf1=finaldf.loc[finaldf['ZIP Code']== 60609.0]
finaldf1

,Name_Of_School,Address,ZIP Code,Latitude,Longitude,Neighborhood
3,Agustin Lara Elementary Academy,"ES,4619 S Wolcott Ave ,Chicago,IL",60609.0,41.809757,-87.672145,NEW CITY
4,Air Force Academy High School,"HS,3630 S Wells St ,Chicago,IL",60609.0,41.828146,-87.632794,ARMOUR SQUARE
11,Alexander Graham Elementary School,"ES,4436 S Union Ave ,Chicago,IL",60609.0,41.813292,-87.643381,NEW CITY
33,Arthur A Libby Elementary School,"ES,5300 S Loomis Blvd ,Chicago,IL",60609.0,41.797648,-87.659969,NEW CITY
65,Cesar E Chavez Multicultural Academic Center E...,"ES,4747 S Marshfield Ave ,Chicago,IL",60609.0,41.807155,-87.666001,NEW CITY
94,Crispus Attucks Elementary School,"ES,5055 S State St ,Chicago,IL",60609.0,41.802143,-87.625747,GRAND BOULEVARD

In [125]:
#Using foursquare API
CLIENT_ID = Client_id 
CLIENT_SECRET = client_secret
VERSION = '20180604'
LIMIT = 30
#print('Your credentails:')
#print('CLIENT_ID: ' + CLIENT_ID)
#print('CLIENT_SECRET:' + CLIENT_SECRET)

In [81]:
address = '4619 S Wolcott Ave ,Chicago,IL'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

41.80972665 -87.671915249027

In [128]:
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID,
    CLIENT_SECRET
    20180605, 
    41.80972665, 
    -87.671915249027, 
    500, 
    25)
#url

In [83]:
results = requests.get(url).json()
#results

In [84]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [85]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head(25)

,name,categories,lat,lng
0,Paleteria Lindo Michoacan,Dessert Shop,41.808504,-87.668840
1,Back Of The Yards Coffehouse & Roastery,Coffee Shop,41.807870,-87.676710
2,La Cecina,Mexican Restaurant,41.808780,-87.673630
3,Church's Chicken,Fried Chicken Joint,41.808632,-87.670300
4,Taqueria Atotonilco,Mexican Restaurant,41.808498,-87.666941
5,Checkers,Fast Food Restaurant,41.808321,-87.674239
6,Dollar Tree,Discount Store,41.810680,-87.675719
7,Burlington,Department Store,41.810839,-87.676128
8,Subway,Sandwich Place,41.809943,-87.676834
9,Pizza Hut,Pizza Place,41.808810,-87.676289
10,Burger King,Fast Food Restaurant,41.808729,-87.675454
11,Forman Mills,Department Store,41.810505,-87.670006
12,Restaurant Las Esperanzas,Mexican Restaurant,41.808637,-87.669621
13,Atotonilco Tortilleria,Deli / Bodega,41.808582,-87.666883

In [126]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&v={}&ll={},{}&query={}&radius={}&limit={}'.format(
    CLIENT_ID,
    CLIENT_SECRET,
    20180605, 
    41.80972665, 
    -87.671915249027, 
    'Pizza',
    500, 
    5)
#url

In [87]:
results = requests.get(url).json()
#results

In [88]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
#dataframe.head()

In [89]:
data1=pd.DataFrame({'Address':dataframe['location.address'],'Distance To Location':dataframe['location.distance'],
'Latitude':dataframe['location.lat'],'Longitude':dataframe['location.lng'],'Pizza Place':dataframe['name']})
data1

          Address  Distance To Location   Latitude  Longitude    Pizza Place
0  2042 W 47th St                   376  41.808810 -87.676289      Pizza Hut
1  1812 W 47th St                   188  41.808551 -87.670278  Chicago Pizza

In [90]:
dflat=dataframe['location.lat'].values
dflng=dataframe['location.lng'].values

In [91]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Conrad Hotel
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='NEW CITY',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the Italian restaurants as blue circle markers
for lat, lng, label in zip(dflat,dflng, dataframe.name):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
venues_map

In [94]:
address = '3630 S Wells St ,Chicago,IL'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

41.8278797 -87.632958223641

In [129]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&v={}&ll={},{}&query={}&radius={}&limit={}'.format(
    CLIENT_ID,
    CLIENT_SECRET,
    20180605, 
    41.8278797, 
    -87.632958223641, 
    'Pizza',
    500, 
    5)
#url

In [96]:
results = requests.get(url).json()
#results

In [97]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
#dataframe.head()

In [98]:
data2=pd.DataFrame({'Address':dataframe['location.formattedAddress'],'Distance To Location':dataframe['location.distance'],
'Latitude':dataframe['location.lat'],'Longitude':dataframe['location.lng'],'Pizza Place':dataframe['name']})
data2

,Address,Distance To Location,Latitude,Longitude,Pizza Place
0,"[Chicago, IL 60609, United States]",177,41.82944,-87.63249,Beggar's Pizza Pub

In [99]:
dflat=dataframe['location.lat'].values
dflng=dataframe['location.lng'].values

In [101]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Conrad Hotel
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='ARMOUR SQUARE',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the Pizza Place as blue circle markers
for lat, lng, label in zip(dflat,dflng, dataframe.name):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
#venues_map

In [102]:
address = '4436 S Union Ave ,Chicago,IL'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

41.81306085 -87.6438169452972

In [127]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&v={}&ll={},{}&query={}&radius={}&limit={}'.format(
    CLIENT_ID,
    CLIENT_SECRET,
    20180605, 
    41.81306085, 
    -87.6438169452972, 
    'Pizza',
    500, 
    5)
#url

In [104]:
results = requests.get(url).json()

In [105]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
#dataframe.head()

In [106]:
data3=pd.DataFrame({'Address':dataframe['location.address'],'Distance To Location':dataframe['location.distance'],
'Latitude':dataframe['location.lat'],'Longitude':dataframe['location.lng'],'Pizza Place':dataframe['name']})
data3

,Address,Distance To Location,Latitude,Longitude,Pizza Place
0,558 W 43rd St,445,41.816362,-87.640777,Pizza Nova
1,558 W 43rd St,461,41.816473,-87.640663,Pizza Nova Express - W 43rd St
2,704 W 47th St,462,41.808935,-87.643160,T's Paisan's Pizza
3,10900 S Western Ave,309,41.814264,-87.647180,Homerun Inn Pizza

In [107]:
dflat=dataframe['location.lat'].values
dflng=dataframe['location.lng'].values

In [108]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Conrad Hotel
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='New City',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the Italian restaurants as blue circle markers
for lat, lng, label in zip(dflat,dflng, dataframe.name):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
#venues_map

In [109]:
address = '4747 S Marshfield Ave ,Chicago,IL'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

41.80728125 -87.6657127795869

In [122]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&v={}&ll={},{}&query={}&radius={}&limit={}'.format(
    CLIENT_ID,
    CLIENT_SECRET,
    20180605, 
    41.80728125, 
    -87.6657127795869, 
    'Pizza',
    500, 
    5)
#url

In [111]:
results = requests.get(url).json()

In [112]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
#dataframe.head()

In [113]:
data4=pd.DataFrame({'Address':dataframe['location.address'],'Distance To Location':dataframe['location.distance'],
'Latitude':dataframe['location.lat'],'Longitude':dataframe['location.lng'],'Pizza Place':dataframe['name']})
data4

,Address,Distance To Location,Latitude,Longitude,Pizza Place
0,4806 S Ashland Ave,94,41.806671,-87.664918,Domino's Pizza
1,4601 S Ashland Ave,345,41.810316,-87.664833,Naple's Pizza
2,1406 W 47th St,460,41.809044,-87.660697,Little Caesars Pizza
3,4844 S Ashland Ave,221,41.805370,-87.664955,Positano's Pizza
4,1812 W 47th St,404,41.808551,-87.670278,Chicago Pizza

In [114]:
dflat=dataframe['location.lat'].values
dflng=dataframe['location.lng'].values
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Conrad Hotel
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='New City',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the Italian restaurants as blue circle markers
for lat, lng, label in zip(dflat,dflng, dataframe.name):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6 
    ).add_to(venues_map)

# display map
#venues_map

In [124]:
#Results
#Let's see the final data where pizza place were located in a particular Zip Code of chicago
dFrame=pd.concat([data1,data3,data4],ignore_index=True)
dFrame

,Address,Distance To Location,Latitude,Longitude,Pizza Place
0,2042 W 47th St,376,41.808810,-87.676289,Pizza Hut
1,1812 W 47th St,188,41.808551,-87.670278,Chicago Pizza
2,558 W 43rd St,445,41.816362,-87.640777,Pizza Nova
3,558 W 43rd St,461,41.816473,-87.640663,Pizza Nova Express - W 43rd St
4,704 W 47th St,462,41.808935,-87.643160,T's Paisan's Pizza
5,10900 S Western Ave,309,41.814264,-87.647180,Homerun Inn Pizza
6,4806 S Ashland Ave,94,41.806671,-87.664918,Domino's Pizza
7,4601 S Ashland Ave,345,41.810316,-87.664833,Naple's Pizza
8,1406 W 47th St,460,41.809044,-87.660697,Little Caesars Pizza
9,4844 S Ashland Ave,221,41.805370,-87.664955,Positano's Pizza
10,1812 W 47th St,404,41.808551,-87.670278,Chicago Pizza

### Results:
Our analysis shows that although there is a great number of restaurants in Chicago,  we mainly focused in New City, Chicago with in the radius of 500 from the respective distances.  From the above analysis we can say that the area that are closer to the location got less number of pizza place.  So, it is better to open a pizza place close to those particular locations.